@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body{
    background-image: url('../media/Gradient.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    color: #fff;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 50%;
    height: fit-content;
    border-radius: 16px;
    background: linear-gradient(135deg, rgba(255, 140, 0, 1) 0%,rgba(33, 33, 33, 1) 40%, #0f0f0f 100%);

    
}
#new-tasks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 12px;
    gap: 16px;
}
h2{
    margin: 12px;
    text-align: left;
}
h1{
    font-size: 500%;
    text-align: center;
    margin: 12px;
    padding: 16px;
}
.gradient-text{
    background: linear-gradient(-90deg, rgba(255, 140, 0, 1) 0%,rgba(33, 33, 33, 1) 40%,rgba(15, 15, 15, 1) 100%);  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Add tasks */
#add-tasks{
    padding: 16px;
    margin: 12px;
    height: fit-content;
}
#tasks-text{
    width: 79.2%;
}
#tasks-text, input{
    background-color: #e9e6e6;
    color: black;
    border-radius: 12px;
    border: 0;
    outline: 0;
    padding: 10px;

}
#add-task-button{
    flex-grow: 1;
}
#add-task-button, #filter-options{
    background-color: #383433;
    color: #ffffff;
    border: 0;
    border-radius: 12px;
    padding: 10px;
    width: fit-content;
    cursor: pointer;
    transition: .5s ease-out;
}
#add-task-button:hover{
    opacity: .9;
}


/* Looking up stuff */
#lookup{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
}
#lookup h4{
    margin: 12px;
    text-align: left;
}
#search-task{
    margin-left: 15px;
    width: 95%;
}
#filter-options{
    margin-top: 0px;
    width: 5.4rem;
}
/* Tasks */
#tasks{
    background: linear-gradient(-90deg, rgba(255, 140, 0, 1) 0%,rgba(33, 33, 33, 1) 40%,rgba(15, 15, 15, 1) 100%);  

    width: 20rem;
    margin: 2rem;
    border-radius: 16px;
    padding: 12px;
}
#task-todo{
    background-color: #ffffff;
    border: 1px solid #4444;
    padding: 8px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #000000;
    
}

.fa-solid{
    cursor: pointer;
    padding: 5px;
}
.fa-trash:hover{
    color: rgb(193, 18, 18);
}


/* MEDIA QUERIES */

@media (max-width: 770px){
    #tasks-text{
        width: 100%;
    }
    #main{
        width: 100%;
    }
}
@media (max-width: 328px){
    #tasks{
        width: 80%;
    }
}